body{
    font-family: "Epilogue", sans-serif;
    margin: auto;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    height: 78px;
    background-color: black;
    color: white;
    width: auto;
   
}

.intro {
    display: flex;
    list-style-type: none;
    gap: 100px;
    margin-top:25px ;
    font-size: 25px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}
    

nav img{
    height: 78px;
    position: relative;
    left: 70px;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
    justify-content: space-around;
    font-size: 25px;
    margin-left:40px
}


.header{
    font-size: 27px;
    margin: 0 auto;
    width: 1700px;
    height: 10px;
}


.button5 {
    display: flex;
    list-style-type: none;
    gap: 100px;
    justify-content: space-around;
    font-size: 25px;
    margin-left: 40px;
    padding-top: 25px;
}

.button5 {
    background-color: black; 
    color: white; 
}


.button6 {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 25px;
    margin-left: 0px;
    padding-bottom: 50px;
}

.button6 {
    background-color: black; 
    color: white; 
}

nav ul li a:link, a:visited {
    color: black;
}

.Text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 33px;
    display: block;  
    text-align: center;
    font-size: 45px;
}

.Text2 {
    position: absolute;
    top: 30%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    display: block;  
    text-align: center;
    padding-right: 155px;
}

  
.container {
    position: absolute;
    top: 36%;
    left: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: gray;
    width: 190px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}
 
.button::before {
    position: absolute;
    content: '';
    background-color: white;
    width: 79px;
    height:30px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;

}

input:checked + .button{
    background-color: gray;
}

input:checked + .button::before{
    transform: translateX(100px);
}

input {
    display: none;
}

.Firstway{
    list-style-type: none;
    position: absolute;
    top: 27%;
    left: 6%;
    color:black;
    font-size: 15px;

}

.SecoundWay {
    list-style-type: none;
    position: absolute;
    top: 27%;
    left: 56%;
    color: black;
    font-size: 15px;
}

button {
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ul li ul.dropdown li{
    display: block;
}

.container {
    align-content:space-around;
}

ul li ul.dropdown {
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    
}
ul li:hover ul.dropdown {
    display:block;
    display: flex;
    padding-left: 0px;
    justify-content: space-around;
}

.button2 {
    border: none;
    text-align: center;
    text-decoration:  none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: black; 
    color: white; 
}
  
.button2:hover {
    background-color:gray;
}

.button3 {
    border: none;
    color: black 1222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button3 {
    background-color:white;
}


input[type="date"]{
    background-color: gray;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:44%;
    left: 34%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
}

::webkit-calendar-picker-indicator{
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius:3px ;
}

#blocktext {
    margin: auto;
    max-width: 1064px;
    padding-top: 20px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.textintable {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 px;
    border: 1px solid gray !important;
    border-radius: 20px 20px 20px 20px; 
    padding-left: 13px;
}

#threeimagines {
    margin: auto;
    max-width: 1064px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    position: relative;

}

.button22 {
    height: 22;
}

